In [1]:
import pandas as pd

In [2]:
Ticker = 'HROW'
CURRENT_MONTH = '2024-10'

In [3]:
PATH = '/Users/nick0o0o0/Library/Mobile Documents/com~apple~CloudDocs/gxyfile/Trading/Stocks_selection/report'
FILE = f'{PATH}/{CURRENT_MONTH}/{Ticker}_smallfundamental.csv'

In [4]:
df = pd.read_csv(FILE)

In [5]:
df.head(10)

,fiscalDateEnding,quarter,reportedEPS,EPS_YOY_pct_change,estimatedEPS,surprise,totalRevenue,revenue_YOY_pct_change,netIncome,netIncome_YOY_pct_change,netProfitMargin,netProfitMargin_YOY_pct_change
0,2024-06-30,2024Q2,-0.1800,+29.0,-0.20,0.02,48939000.0,+76.0,-6473000.0,+53.0,-0.132267,-13.0
1,2024-03-31,2024Q1,-0.3800,+73.0,-0.20,-0.18,34587000.0,+62.0,-13565000.0,+104.0,-0.392199,+26.0
2,2023-12-31,2023Q4,-0.2500,-725.0,-0.04,-0.21,31231000.0,+32.0,-9148000.0,-967.0,-0.292914,-759.0
3,2023-09-30,2023Q3,-0.1300,-46.0,0.04,-0.17,28516000.0,+36.0,-4391000.0,-32.0,-0.153984,-50.0
4,2023-06-30,2023Q2,-0.1400,-39.0,-0.04,-0.10,27766000.0,+29.0,-4229000.0,-32.0,-0.152309,-47.0
...,...,...,...,...,...,...,...,...,...,...,...,...
63,2008-09-30,2008Q3,-2.1082,-82.0,NaN,NaN,NaN,+nan,NaN,+nan,NaN,+nan
64,2008-06-30,2008Q2,-3.4315,+nan,NaN,NaN,NaN,+nan,NaN,+nan,NaN,+nan
65,2008-03-31,2008Q1,-0.7947,+nan,NaN,NaN,NaN,+nan,NaN,+nan,NaN,+nan
66,2007-12-31,2007Q4,-6.8715,+nan,NaN,NaN,NaN,+nan,NaN,+nan,NaN,+nan
67,2007-09-30,2007Q3,-11.4761,+nan,NaN,NaN,NaN,+nan,NaN,+nan,NaN,+nan